body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
}

.hero img {
    width: 88%;
    max-height: auto;
    border-radius: 20px;
    margin: 6% 6% 4%;
}

.intro h1 {
    margin: 0 6% 4%;
    font-family: YoungSerif-Regular;
    font-weight: 300;
    font-size: 76px;
}

p {
    font-family: Outfit-VariableFont_wght;
    font-size: 30px;
    margin: 0 6% 4%;
}

@media screen and (max-width: 375px) {
    .hero img {
        border-radius: 0;
        margin: 0 0 2% 0;
        width: 100%;
    }

    .intro h1 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }
}
